
{% for key, value in interfaces.items() %}
interface {{ key }}
ip address {{ value | ipaddr('network')}} {{ value | ipaddr('netmask') }}
{% endfor %}

router bgp {{ asn }}
{% for item in bgp_networks %}
network {{ item }} mask 255.255.255.0
{% endfor %}
{% for key, value  in bgp_neighbors.items() %}
neighbor {{ value }} remote-as 65002
{% endfor %}

{% if ansible_extend_acl is defined%}
ip access-list extended ansible_ext_acl

{% for item in ansible_extend_acl %}
{% if 'ip' in item.type %}
{{ item.action}} {{ item.type }} {{ item.src | ipaddr('network') }} {{ item.src | ipaddr('hostmask') }} {{ item.dst | ipaddr('network') }} {{ item.dst | ipaddr('hostmask') }}
{% else %}
{{ item.action}} {{ item.type }} {{ item.src | ipaddr('network') }} {{ item.src | ipaddr('hostmask') }} {{ item.dst | ipaddr('network') }} {{ item.dst | ipaddr('hostmask') }} eq {{ item.protocol }}
{% endif %}
{% endfor %}
{% endif %}

