ip access-list extended ansible_ext_acl

{% for item in ansible_extend_acl %}
{% if 'ip' in item.type %}
{{ item.action}} {{ item.type }} {{ item.src | ipaddr('network') }} {{ item.src | ipaddr('hostmask') }} {{ item.dst | ipaddr('network') }} {{ item.dst | ipaddr('hostmask') }}
{% else %}
{{ item.action}} {{ item.type }} {{ item.src | ipaddr('network') }} {{ item.src | ipaddr('hostmask') }} {{ item.dst | ipaddr('network') }} {{ item.dst | ipaddr('hostmask') }} eq {{ item.protocol }}
{% endif %}
{% endfor %}
